<div id="services" class="services-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline services-head text-center">
                    <h2>Hizmetlerimiz</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <!-- Start Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-briefcase"></i>
                            </a>
                            <h4>Uzman Kadro</h4>
                            <p>
                                Her Biri Kendi Alanında Uzmanlaşmış,Sürekli Teknolojik Gelişmeleri Takip Eden Kadromuzla Hizmetinizdeyiz.
                            </p>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-card-checklist"></i>
                            </a>
                            <h4>Süreç Analizi</h4>
                            <p>
                               İşletmenin Tüm Süreçlerini Analiz Ederek İş Zekasına Uygun Şekilde Yeniden Tasarlıyoruz.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-bar-chart"></i>
                            </a>
                            <h4>Raporlama</h4>
                            <p>
                                Her Türlü Yönetimsel Raporları Kullanıcı Dostu modu ile Tasarlıyoruz.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-binoculars"></i>
                            </a>
                            <h4>Altyapı Desteği </h4>
                            <p>
                                Üretim Otomasyonları için Gerekli Araştırma ve Bilgi Desteği Sunuyoruz.
                            </p>
                        </div>
                    </div>
                   
                </div>
            </div>
            <!-- End Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-brightness-high"></i>
                            </a>
                            <h4>Seo Uzmanlığı</h4>
                            <p>
                                Pazarlama Rekabet Gücünüğü Artıracak SEO Tekniklerini Uyguluyoruz.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <!-- End Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-calendar4-week"></i>
                            </a>
                            <h4>24/7 Destek</h4>
                            <p>
                                24/7 Saat Destek Sağlıyoruz.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
        </div>
    </div>
</div><!-- End Services Section -->
